.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    padding: 10px;
}
.players{
    display: flex;
    justify-content: space-between;
    gap: 100px;
}
.player{
    padding: 5px;
    border-radius: 10px;
    background-color: rgba(201, 249, 252, 1);
}
